//Desktops
@include mediaLg {
  .box-1 {
    grid-template-areas:
      'image-a1 text-a1 '
      'text-a2 text-a2';
    grid-template-columns: repeat(2, 1fr);
  }
}

//Tablets
@include mediaMd {
  .box-1 {
    grid-template-areas:
      'image-a1'
      'text-a1'
      'text-a2';
    grid-template-columns: repeat(1, 1fr);
  }

  .box-2 {
    grid-template-areas:
      'image-a2'
      'text-a3';
    grid-template-columns: repeat(1, 1fr);
  }

  .box-4 {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      'image-b1'
      'text-b1';
  }

  .box-6 {
    .map {
      grid-area: 'map';
    }
    .text-wrap {
      grid-area: 'text-c';
    }

    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: 'text-c' 'map';
  }
}

//Smartphone
@include mediaSm {
  #sidebar {
  }
}
